/* UNIVERSAL **************************************************************** */

html {
    overflow-y: scroll; /* allways displays the scrollbar */
}

body {
    /* Defines standards for the site */
    font: 16px Calibri, Arial; /* Font and backup fonts */
    width: 960px; /* Width of entire site */
    margin: 5px auto 0px auto; /* distances from the browser edges: top-right-down-left */
    border: 1px solid;
    background: #FFFFCC; /* backup color, for browsers that do not support gradients */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFCC33), to(#FFFFFF)); /* Safari, Chrome */
    background: -moz-linear-gradient(top, #FFCC33, #FFFFFF) repeat-x; /* Firefox */
}

/* LAYOUT ******************************************************************* */

#header {
    height: 128px;
    background-image: url(img/header.png); /* link to header img */
    border-bottom: 1px solid;
}

#menu {
    font: 16px "Times New Roman", Calibri, Arial; /* font for buttons, backup to default if TNR is a problem */
    margin-top: 10px; /* Prevents overwriting part of header */
    text-align: center; /* Puts buttons to center */
    list-style: none; /* Removes <li> bulletpoints */
    height: 30px; /* Height of the brown background beyond the buttons */
    background: #FF6633; /* backup color, for browsers that do not support gradients */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA500), to(#A52A2A)); /* Safari, Chrome */
    background: -moz-linear-gradient(top, #FFA500, #A52A2A); /* Firefox */
    border-bottom: 1px solid;
}

#menu ul {
    margin-top: -10px;
    list-style: none;
    padding: 0;
    text-align:center;
}

#menu li {
    display: inline; /* display buttons next to eachother instead of vertically */
}

#menu li a:link, a:visited {
    /* Properties of text */
    color: black;
    text-decoration: none;
    font-variant: small-caps;

    /* Button art */
    margin-top: 30px;
    border: 1px solid;
    padding: 5px;
    /* Button color when not pressed/touched */
    background: #FF3333;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#A52A2A)); /* Safari, Chrome */
    background: -moz-linear-gradient(top, #FFFF00, #A52A2A); /* Firefox */
}

#menu li a:active, #menu li a:hover {
    background: #CC0000;
    background: -webkit-gradient(linear, left top, left bottom, from(#A52A2A), to(#FFFF00)); /* Safari, Chrome */
    background: -moz-linear-gradient(top, #A52A2A, #FFFF00); /* Firefox */
}

#container { /* contains main and sidebar only */
    background: -webkit-gradient(linear, left top, right top, from(#FFD700), to(#FFFFFF)); /* Safari, Chrome */
    background: -moz-linear-gradient(left, #FFD700, #FFFFFF);
    background-size: 280px, 1px; /* defines the length of the gradient, set y-length to 1px always */
    background-repeat: repeat-y; /* prevents horizontal repeat */
    background-color: white; /* sets the background color for the area not affected by the gradient */
}

#main {
    float: right;
    width: 700px; /* aka 75% of site, -20px for the margin on the right */
    margin-right: 20px;
}

#sidebar {
    float: left;
    width: 239px; /* aka 25% of site, -1px to fix some rare align problems */
    text-align: center;
}

#footer {
    clear: both; /* Required for footer to show up beneath main/sidebar */
    text-align: center;
    color: grey;
}

/* LIBRARY ****************************************************************** */

label {
    display: block;
    margin-top: 10px;
    letter-spacing: 2px;
}

input, textarea {
    width: 300px;
    background: #EFEFEF;
    border: 1px solid #DEDEDE;
    padding: 6px;
    margin-top: 3px;
    font-size: 0.9em;
    color: #3A3A3A;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

textarea {
    height: 200px;
    background: url(img/form-bg.png) bottom right no-repeat #EFEFEF;
}

#button {
    display: block;
    height: 38px;
    margin-top: 20px;
    cursor: pointer;
}

#button:hover {
    opacity: 0.6;
}

a.button{
    text-decoration: none; /* removes lines between two images containing a link*/
}

#formCheckbox{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    margin-left:3px;
    margin-top: 15px;
}

/* Generic table layout */
table{
    border-collapse: collapse;
    border: 1px solid;
    font-size: 14px;
}

td, th{
    border: 1px dotted #03476F;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 25px;    /* Extra width of every cell */
}

thead th, tfoot th{
    font-size: 12px;
    border: 1px solid #03476F;
    background: #FF9933; /* Background color table header */
    color: #FFFFFF; /* Text white in table header */
    padding-top: 3px;
}




.odd {
  background: #AEE239;
  }



/* PAGE-SPECIFIC ************************************************************ */

/* If you add stuff to this portion, describe what page uses it, why you
included the code you did, and what exactly uses it. */

/* Used by event-add to line out checkbox options correctly. */
#checkbox_list ul {
    margin-top: -8px; /* fix incorrect margin caused by divs */
    margin-left: -40px; /* fix incorrect margin caused by invisibile bullet points */
    margin-right: 20px; /* set distance between columns of checkboxes */
    float: left; /* cause blocks of checkboxes to float right next to eachother */
    width: auto; /* set length to longest word */
    list-style: none; /* remove bullet points */
}

/* Used by event-add to correct CSS glitches on the content below checkboxes. */
#checkbox_below {
    clear: both;
}

/* Used by agenda page */

#agenda .event{
    height: 85px;
    margin-bottom: 5px; /* space between two events */
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-right-style:none;
}

#agenda .event.even{
    background: #FF3333;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#A52A2A)); /* Safari, Chrome */
    background: -moz-linear-gradient(top, #FFFFFF, #ADD8E6); /* Firefox */

}

#agenda .event.odd{
    background: #FF3333;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#A52A2A)); /* Safari, Chrome */
    background: -moz-linear-gradient(top, #FFFFFF, #90EE90); /* Firefox */
}

#agenda .event .date {
    width: 85px;
    height:85px;
    float: left;
    text-align: center;
}

#agenda .event .day{
    font-size: 28pt;
}

#agenda .event .comment {
    /*border:1px solid red; /* tmp, make borders visible while devving*/
    display: inline;
    width: 450px;
    height: 50px;
    margin-top: 5px;
    float:left;
    font-size: 11pt;
}

#agenda .event .comment .summary{
    font-weight: bold;
}

#agenda .event .comment .description{
    margin-bottom: 0px; /* space between summary and meta-info*/
    height: 60%;
    text-overflow:ellipsis;

    /* Create '..." in case of overflow */
    overflow-x: hidden;
    /*white-space: nowrap*/
}

#agenda .event .comment .meta{
    color: gray;
    font-size: 9pt;
}

#agenda .event img{
    float: right;
    height: 85px;
    width: 85px;
    float: right;
}