/* UNIVERSAL **************************************************************** */

html {
    /* Force browser to display scrollbar */
    overflow-y: scroll;
}

body {
    font: 16px Calibri, Arial;
    width: 960px;
    margin: 5px auto 0px auto;
    border: 1px solid;
    
    background: #FFCC33; /* Fallback for other browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFCC33), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFCC33, #FFFFFF) repeat-x;

}

/* LAYOUT ******************************************************************* */

#header {
    height: 128px;
    background-image: url(img/header.png);
    border-bottom: 1px solid;
}

#menu {
    font: 16px "Times New Roman", Calibri, Arial;
    margin-top: 10px;
    text-align: center;
    list-style: none;
    height: 30px;
    
    background: #D2691E; /* Fallback for other browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA500), to(#A52A2A));
    background: -moz-linear-gradient(top, #FFA500, #A52A2A);

    border-bottom: 1px solid;
}

#menu ul {
    margin-top: -10px;
    list-style: none;
    padding: 0;
    text-align:center;
}

#menu li {
    display: inline;
}

#menu li a:link, a:visited {
    color: black;
    text-decoration: none;
    font-variant: small-caps;

    /* Create buttons from the links */
    margin-top: 30px;
    border: 1px solid;
    padding: 5px;
    /* Button color when not touched/pressed */
    background: #DD0000; /* Fallback for other browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#A52A2A));
    background: -moz-linear-gradient(top, #FFFF00, #A52A2A);
}

#menu li a:active, #menu li a:hover {
    /* Button color when touched/pressed */
    background: #BB0000; /* Fallback for other browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#A52A2A), to(#FFFF00));
    background: -moz-linear-gradient(top, #A52A2A, #FFFF00);
}

#container {
    /* Contains the "main" and "sidebar" portions of site */
    background: -webkit-gradient(linear, left top, right top, from(#FFD700), to(#FFFFFF));
    background: -moz-linear-gradient(left, #FFD700, #FFFFFF);
    background-size: 280px;
    background-repeat: repeat-y;
    background-color: #FFFFFF;
}
    
#main {
    float: right;
    width: 700px;
    margin-right: 20px;
}

#sidebar {
    float: left;
    width: 239px;
    text-align: center;
}

#sidebar_agenda {
    float: left;
    width: 219px;
    margin-left: 20px;
    text-align: left;
}

#footer {
    /* Directly beneath the "container" */
    clear: both;
    text-align: center;
    color: grey;
}

#loginBox {
    display: none;

    border: 1px solid black;
    border-top: none;

    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ADD8E6));
    background: -moz-linear-gradient(top, #FFFFFF, #ADD8E6);
    background: #ADD8E6; /* Fallback for other browsers */
 
    position: absolute;
    margin-left: 779px;
    width: 180px;
    height: 144px;
}

#loginBox input{
    margin-top: 8px;
    border: 1px solid #D1C7AC;
    border-radius: 7px 7px 7px 7px;
    width: 156px;
    padding: 3px;
    background: #EFEFEF;
}

#loginStatus {
    display: block;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    float: right;
    height: 32px;

    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D3D3D3)); /* Safari, Chrome */
    background: -moz-linear-gradient(top, #FFFFFF, #D3D3D3); /* Firefox */
    background: #D3D3D3; /* Fallback for other browsers */
}

#loginStatusContent {
    margin-top: -10px;
    margin-left: 8px;
    margin-right: 8px;
}

/* LIBRARY ****************************************************************** */

label {
    display: block;
    margin-top: 10px;
    letter-spacing: 2px;
}

input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #D1C7AC;
    border-radius: 7px 7px 7px 7px;
    width: 300px;
    padding: 3px;
    background: #EFEFEF;
}

#sidebar_agenda input {
    width: 144px;
}

textarea {
    border: 1px solid #D1C7AC;
    border-radius: 7px 7px 7px 7px;
    width: 300px;
    height: 200px;
    padding: 3px;
    background: url(img/form-bg.png) bottom right no-repeat #EFEFEF;
}

a.button{
    /* Removes line between two button links */
    text-decoration: none;
}

#button {
    background: #F4A460;
    border-radius: 7px 7px 7px 7px;
    width: 204px;
    background: #EFEFEF;
    display: block;
    heigth: 30px;
    margin-top: 12px;
    cursor: pointer;
    font: 16px Calibri, Arial; /* Buttons don't inherit fonts */
}

#button:hover {
    opacity: 0.6;
}

#formCheckbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    margin-left: 3px;
    margin-top: 15px;
}

/* Generic table layout */
table{
    border-collapse: collapse;
    border: 1px solid;
    font-size: 14px;
}

td, th{
    border: 1px dotted #03476F;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 25px;
}

#checkboxTable {
    padding-right: 0px; /* Overwrite padding from td,th defaults */
}

thead th, tfoot th{
    font-size: 12px;
    border: 1px solid #03476F;
    background: #FF9933; /* Background color table header */
    color: #FFFFFF; /* Text white in table header */
    padding-top: 3px;
}

/* PAGE-SPECIFIC ************************************************************ */

/* Create multiple checkbox lists next to eachother. Use as <div>. */
#checkbox_list ul {
    margin-top: -8px;
    margin-left: -40px;
    margin-right: 20px;
    float: left;
    list-style: none;
}

/* Used after checkbox_list content to fix CSS abnormalities. Use as <div>. */
#checkbox_below {
    clear: both;
    float: left;
}

#agenda .event-even {
    /* Make up events on the agenda that are even. */
    height: 85px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    background: #ADD8E6; /* Fallback for other browsers */    
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ADD8E6));
    background: -moz-linear-gradient(top, #FFFFFF, #ADD8E6);
}

#agenda .event-odd {
    /* Make up events on the agenda that are odd. */
    height: 85px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    background: #90EE90; /* Fallback for other browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#90EE90));
    background: -moz-linear-gradient(top, #FFFFFF, #90EE90);
}

#agenda .event-odd .date, #agenda .event-even .date {
    /* Make up the month name */
    width: 85px;
    height: 85px;
    float: left;
    text-align: center;
}

#agenda .event-odd .day, #agenda .event-even .day {
    /* Make up the day number */
    font-size: 28pt;
}

#agenda .event-odd .comment, #agenda .event-even .comment {
    /* Make up the text field of a comment */
    display: inline;
    
    width: 450px;
    height: 50px;
    margin-top: 5px;
    float:left;
    font-size: 11pt;
}

#agenda .event-odd .comment .summary, #agenda .event-even .comment .summary {
    font-weight: bold;
}

#agenda .event-odd .comment .description, #agenda .event-even .comment .description {
    margin-bottom: 0px; /* Space between description and meta */
    height: 60%;
    text-overflow: ellipsis;

    overflow-x: hidden;
}

#agenda .event-odd .comment .meta, #agenda .event-even .comment .meta {
    /* Make up the meta information */
    color: gray;
    font-size: 9pt;
}

#agenda .event-odd img, #agenda .event-odd img, {
    /* Position and resize event picture */
    float: right;
    height: 83px;
    width: 83px;
}

#addUser {
    /* Used on admin page to hide/show the addUser interface */
    display: none;
}

#addUserButton {
    /* Used on admin page to hide/show the addUser interface */
    display: block; 
}

#loginBoxContent {
    margin-left: 8px;
}